body {
    background-color: #73cf65;
    background-image: url("./record.png");
    background-repeat: repeat;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.intro {
    background-color: #9d6d35;
    color: #e6df7e;
    text-align: center;
}

.details {
    background-color: rgb(209, 206, 206);
    padding: 1em;
}